@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-family: "Raleway", sans-serif;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.homeContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.ordersPageMainDiv {
  display: flex;
  align-items: center;
  text-align: center;
}

.addNewOrdersPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.orderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.tableButtons {
  display: flex;
  gap: 5px;
  justify-content: center;
  text-align: center;
}

.tableData {
  text-align: center;
}

.modelCss {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0px;
}
.heading {
  margin-top: -200px;
}
.modaltableData {
  min-width: 900px;
  margin-left: -200px;
}
.comments {
  display: flex;
  align-items: start;
  flex-direction: column;
}
