@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  font-family: "Raleway", sans-serif;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.homeContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
